.container {
  padding: 50px;
}

.headerContainer {
  padding: 0px 45px;
}

.tableContainer {
  padding: 50px;
  align-items: center;
}

.depositStyle {
  color: green;
}

.withdrawStyle {
  color: red;
}

.modalContainer {
  width: 500px;
}

.formContainer > .formField {
  padding-bottom: 20px;
}

.submitContainer {
  margin-bottom: 0;
}

.submitButton {
  width: 100%;
}
